fastapi
uvicorn
pandas
numpy
openai
anthropic
python-dotenv
pydantic
email-validator
requests
httpx[http2]
h2
chromadb
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
psycopg2-binary
python-multipart
app-store-server-library
PyJWT
cryptography
pytz
